<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>
<body>
    <div class="container">
        {% include 'header.html' %}

        <h2>QUẢN LÝ SINH VIÊN</h2>
        <div class="content">
            <button class="btn" onclick="location.href='{{ url_for('addDB') }}'">Thêm dữ liệu</button>
        </div>
    </div>
</body>
</html>
